<div style="width: 100%; margin: 0; padding: 0;">
    <img src="https://i.postimg.cc/Bn4H8BrF/Header.png"
         style="width: 100vw;
                position: relative;
                left: 50%;
                right: 50%;
                margin-left: -50vw;
                margin-right: -50vw;
                display: block;">
</div>

# <h1 align="center">üèõÔ∏è [ AI Club - University of Jeddah ] üèõÔ∏è</h1>

# <h2 align="center">Machine Learning Foundations: The Ultimate Challenge üèÜ</h2>
### <h3 align="center">Show Your Skills in Data Engineering & Analysis üöÄ</h3>

---

## üèÖ Final Grade
# <h1 align="center">____ / 20</h1>

---

## üéØ The Mission
Welcome to the Machine Learning Foundations Challenge! This notebook is designed to test your ability to handle real-world data. You will be working with the **Titanic Dataset** to clean, transform, and prepare it for a future ML model.

### ‚ö†Ô∏è Instructions:
1. Complete all tasks marked with **TODO**.
2. Do not use external libraries other than **NumPy** and **Pandas**.
3. Ensure your code is clean and well-commented.
4. Submit your completed work as an (`.ipynb`) file.

---

##  **Section  1Ô∏è‚É£: NumPy Mastery Challenges (10 Tasks)** üî¢

### **Task 1: Custom Sequence & Mean**
**Objective:** Create a 1D array containing **12** equally spaced numbers between **10** and **100** (inclusive). Then, calculate the **Mean** of this array.

In [ ]:
import numpy as np

# TODO: Create the array and calculate its mean
arr_1 = None
mean_val = None

print(f"Array: {arr_1}")
print(f"Mean: {mean_val}")

### **Task 2: Reshaping & Attributes**
**Objective:** Take the array from Task 1 and **Reshape** it into a matrix of **3 rows and 4 columns**. Print the **Shape** and **Size** of the new matrix.

In [ ]:
# TODO: Reshape arr_1 to (3, 4) and check its attributes
matrix_2 = None
m_shape = None
m_size = None

print(f"Matrix:\n{matrix_2}")
print(f"Shape: {m_shape}, Total Elements: {m_size}")

### **Task 3: Feature Extraction (Column Slicing)**
**Objective:** From the matrix created in Task 2, extract only the **Third Column** (index 2). In ML, this is how we isolate a specific "Feature" from our data.

In [ ]:
# TODO: Slice the 3rd column from matrix_2
feature_col = None

print(f"Extracted Column: {feature_col}")

### **Task 4: Weight Initialization (Randomness)**
**Objective:** Generate a **2x3** matrix filled with **Random Values** between 0 and 1. This simulates initializing weights for a small Neural Network.

In [ ]:
# TODO: Generate 2x3 random matrix
weights = None

print(f"Random Weights:\n{weights}")

### **Task 5: Identity Matrix & Scaling**
**Objective:** Create a **4x4 Identity Matrix** and multiply it by **25** using **Broadcasting**.

In [ ]:
# TODO: Create 4x4 identity matrix and scale it
scaled_identity = None

print(f"Scaled Identity Matrix:\n{scaled_identity}")

### **Task 6: Boolean Masking (Filtering)**
**Objective:** Given the array `[15, 42, 5, 89, 33, 12, 55]`, use **Boolean Indexing** to extract only the numbers **greater than 30**.

In [ ]:
data = np.array([15, 42, 5, 89, 33, 12, 55])

# TODO: Filter elements > 30
filtered_data = None

print(f"Elements > 30: {filtered_data}")

### **Task 7: Conditional Logic (np.where)**
**Objective:** Use `np.where` on the array from Task 6. If a value is **greater than 30**, replace it with the string **'High'**, otherwise replace it with **'Low'**.

In [ ]:
# TODO: Apply np.where logic
classified_data = None

print(f"Classified Data: {classified_data}")

### **Task 8: Finding Predictions (np.argmax)**
**Objective:** Suppose a model outputted these probabilities for 4 classes: `[0.1, 0.7, 0.05, 0.15]`. Find the **Index** of the highest probability (the predicted class).

In [ ]:
probs = np.array([0.1, 0.7, 0.05, 0.15])

# TODO: Find index of maximum value
predicted_class = None

print(f"Predicted Class Index: {predicted_class}")

### **Task 9: Matrix Transposition**
**Objective:** Take the **2x3** `weights` matrix from Task 4 and **Transpose** it to become a **3x2** matrix.

In [ ]:
# TODO: Transpose the weights matrix
transposed_weights = None

print(f"New Shape: {transposed_weights.shape}")

### **Task 10: Image Flattening Simulation**
**Objective:** Create a **2x2** matrix representing a tiny grayscale image. **Flatten** it into a **1D vector** to prepare it for a Fully Connected Layer.

In [ ]:
image = np.array([[255, 128], [0, 64]])

# TODO: Flatten the image matrix
flattened_image = None

print(f"Flattened Vector: {flattened_image}")

---
#  **Section 2Ô∏è‚É£: Pandas Data Engineering Challenge (10 Tasks)**üêº

**Instructions:** Now we move to the heart of Data Science. You will work on the famous **Titanic Dataset**. Your goal is to clean, transform, and analyze this data using advanced Pandas techniques.

**Key Skills Tested:**
* Handling Missing Values & Duplicates.
* Advanced Grouping & Aggregation.
* Data Merging & Transformation.

In [ ]:
 import pandas as pd
import numpy as np

# Loading Titanic Dataset
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

# Intentionally adding some duplicates for the challenge
df = pd.concat([df, df.iloc[:5]], ignore_index=True)

print("‚úÖ Titanic Dataset Loaded with intentional duplicates and missing values.")
df.head()

‚úÖ Titanic Dataset Loaded with intentional duplicates and missing values.

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### **Task 11: Missing Data Audit**
**Objective:** Calculate the **Percentage** of missing values for each column. Sort the result in **descending order**. This helps identify which columns might need to be dropped.

In [ ]:
# TODO: Calculate percentage of NaN per column
missing_pct = None

print(f"Missing Data Percentage:\n{missing_pct}")

### **Task 12: Smart Imputation (Group-based Fillna)**
**Objective:** Instead of filling missing `Age` values with a global mean, fill them with the **Median Age** of their respective **Gender** (`Sex`) group. This is a common practice in advanced feature engineering.

In [ ]:
# TODO: Fill NaN in 'Age' column using the median of each 'Sex' group
# Hint: Use groupby and transform or apply
df['Age'] = None

print(f"Remaining Nulls in Age: {df['Age'].isnull().sum()}")

### **Task 13: Data Integrity (Duplicates & Dropping)**
**Objective:** 1. Identify and **Remove** all duplicate rows.
2. **Drop** the `Cabin` column entirely because it has too many missing values (checked in Task 11).

In [ ]:
# TODO: Remove duplicates and drop 'Cabin' column
df_cleaned = None

print(f"Shape after cleaning: {df_cleaned.shape}")

### **Task 14: Complex Filtering (The Query Challenge)**
**Objective:** Use the `.query()` method to extract a subset of passengers who:
* Were in **1st Class** (`Pclass == 1`).
* Were **Female**.
* Had a **Fare** greater than the **average fare** of the entire dataset.

In [ ]:
# TODO: Use df.query() to find these specific passengers
VIP_females = None

print(f"Count of VIP Females: {len(VIP_females)}")

### **Task 15: Feature Engineering (Apply Logic)**
**Objective:** Use `.apply()` with a **Lambda function** to create a new column called `Age_Group`.
* If Age < 18 (Smaller than 18) -> 'Minor'.
* If Age >= 18 (Greater than or equal 18) -> 'Adult'.

In [ ]:
# TODO: Create 'Age_Group' column using apply
df_cleaned['Age_Group'] = None

print(df_cleaned[['Age', 'Age_Group']].head())

### **Task 16: Categorical Mapping (Encoding)**
**Objective:** Machine Learning models don't understand text. Use `.map()` to convert the `Sex` column into numeric values: **'male' -> 0** and **'female' -> 1**.

In [ ]:
# TODO: Map Sex column to 0 and 1
df_cleaned['Sex'] = None

print(df_cleaned['Sex'].value_counts())

### **Task 17: Multi-Aggregation Report**
**Objective:** Group the data by `Pclass` and `Survived`. For the `Fare` column, calculate the **Mean**, **Min**, and **Max** all in one table using `.agg()`.

In [ ]:
# TODO: GroupBy Pclass/Survived and aggregate Fare (mean, min, max)
fare_stats = None

print(fare_stats)

### **Task 18: Data Merging (Lookup Table)**
**Objective:** Create a new DataFrame called `port_names` with two columns: `Embarked` (C, Q, S) and `Full_Port_Name` (Cherbourg, Queenstown, Southampton). Perform a **Left Merge** to add the full port names to your main DataFrame.

In [ ]:
# TODO: Create port_names DF and merge with df_cleaned
port_names = pd.DataFrame({
    'Embarked': ['C', 'Q', 'S'],
    'Full_Port_Name': ['Cherbourg', 'Queenstown', 'Southampton']
})

df_merged = None

print(df_merged[['Embarked', 'Full_Port_Name']].head())

### **Task 19: String Transformation (Title Extraction)**
**Objective:** In the `Name` column, titles like (Mr, Mrs, Miss) are included. Use `.apply()` or string methods to extract the **Title** from each name and create a new column `Title`.
*Example: "Braund, Mr. Owen Harris" -> "Mr"*

In [ ]:
# TODO: Extract titles from the Name column
df_cleaned['Title'] = None

print(df_cleaned['Title'].unique())

### **Task 20: Sorting & Final Export**
**Objective:** Sort the final cleaned DataFrame by `Fare` (Descending) and then by `Age` (Ascending). After sorting, save the first 50 rows into a variable named `top_50_report`.

In [ ]:
# TODO: Sort and slice the top 50
top_50_report = None

print("Top 5 Passengers in Report:")
display(top_50_report.head())

---

# üèÅ Conclusion

# üèõÔ∏è [ AI Club - University of Jeddah ] üèõÔ∏è

# Machine Learning Foundations: The Ultimate Challenge üèÜ


| Platform | Link/Handle |
| :--- | :--- |
| **Twitter (X)** üê¶ | [@AIClubJeddah](https://x.com/AIClubJeddah) |
| **Email** üìß | [aiclub-uj@aiclub-uj.com](mailto:aiclub-uj@aiclub-uj.com) |